fastapi
flake8
gunicorn
littlenv
mongoengine
pycodestyle
pydantic
python-dateutil
pytz
requests
uvicorn
sentry-sdk
celery
boto3
pymongo[srv]
autopep8
python-multipart
python-jose
passlib
bcrypt
pydash
boto3-stubs[s3]
requests